<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Cycle Planner Instructions
  </div>
  <div class="description">
    <p>The markers on the map denote Citibike Stations. Their opacity represents the number of bikes currently available at the stations - the more opaque the marker, the more bikes are currently docked there.</p> 
    <div class="ui header">Trip Planner</div>
    <p>Click on a marker to bring up info on a station - this info is shown on the sidebar. This is your starting dock.</p>
    <p>Click on a second marker to bring up info on a second station, shown below the first station's info. This is the destination dock.</p>
    <p>Based on current and historical data, the planner will give you a recommendation on how likely you will be able to get a bike at the starting station and to dock at the destination station within the hour.</p>
    <div class="ui header">Time-Lapse</div>
    <p>Use the dropdown menu on the side-bar to view historical data from a specified time</p>
    <p>The play button will continuously loop through all historical data</p>
    <p>The pause button will stop the loop so that you may get a closer look at historical data</p>
    <div class="ui header">Enjoy! - Sergey Kolchinskiy</div>
  </div>
</div>