<div class="ui secondary pointing menu">
  <h2 class="active item">
    Cycle Planner
  </h2>
  <div class="right menu">
    <div class="item">
      <button id="help" class="middle aligned content ui item inverted blue button">
        Help
      </button>
    </div>
  </div>
</div>