<!DOCTYPE html>
<html ng-app="BikeApp">
<head>
  <meta charset="UTF-8">
  <title>Citibike Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>  
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="/dist/semantic.min.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>

  <!-- Nav Bar -->
  <div class="ui secondary pointing menu">
    <h2 class="active item">
      Cycle Planner
    </h2>
    <div class="right menu">
      <div class="item">
        <button id="help" class="middle aligned content ui item inverted blue button">
          Help
        </button>
      </div>
    </div>
  </div>

  <div class="ui grid page-length">
    <!-- Side Bar -->
    <div class="two wide column ui secondary vertical menu">
      <select id="time-dropdown" class="fluid ui dropdown">
        <option value="current">Current</option>
        <% times.forEach(function(time,index){ %>
          <option value="<%=values[index]%>"><%= time %></option>
        <% }) %>
      </select>
      <button id="right-now" class="fluid ui labeled icon button blue">
        <i class="pointing down icon"></i>
        Right Now
      </button>        
      <button id="play-button" class="fluid ui labeled icon button blue">
        <i class="play icon"></i>
        Play
      </button>
      <button id="pause-button" class="fluid ui labeled icon button disabled blue">
        <i class="pause icon"></i>
        Pause
      </button>
      <table class="fluid ui blue table menu-center">
        <thead>
          <tr>
            <th>Starting Station</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="start-station-name">No Station Selected</td>
          </tr>
          <tr>
            <td id="start-station-bikes">Bikes Available: </td>
          </tr>
        </tbody>
      </table>
      <table class="fluid ui blue table menu-center">
        <thead>
          <tr>
            <th>Destination</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="end-station-name">No Station Selected</td>
          </tr>
          <tr>
            <td id="end-station-docks">Docks Available: </td>
          </tr>
        </tbody>
      </table>
      <table class="fluid ui blue table menu-center">
        <thead>
          <tr>
            <th>Trip Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="trip-distance">Distance: </td>
          </tr>
          <tr>
            <td id="trip-duration">Duration: </td>
          </tr>
          <tr>
            <td id="recommendation">No Recommendation Yet</td>
          </tr>          
        </tbody>
      </table>      
    </div>
    <!-- Map -->
    <div class="fourteen wide stretched column">
      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap"
        async defer></script>
    </div>
  </div>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Cycle Planner Instructions
    </div>
    <div class="description">
      <p>The markers on the map denote Citibike Stations. Their opacity represents the number of bikes currently available at the stations - the more opaque the marker, the more bikes are currently docked there.</p> 
      <div class="ui header">Trip Planner</div>
      <p>Click on a marker to bring up info on a station - this info is shown on the sidebar. This is your starting dock.</p>
      <p>Click on a second marker to bring up info on a second station, shown below the first station's info. This is the destination dock.</p>
      <p>Based on historical data, the planner will give you a prediction on how likely you will be able to get a bike at the starting station and to dock at the destination station within the hour.</p>
      <div class="ui header">Time-Lapse</div>
      <p>Use the dropdown menu on the side-bar to view historical data from a specified time</p>
      <p>The play button will continuously loop through all historical data</p>
      <p>The pause button will stop the loop so that you may get a closer look at historical data</p>
      <div class="ui header">Enjoy! - Sergey Kolchinskiy</div>
    </div>
  </div>

</body>
</html>