<!DOCTYPE html>
<html ng-app="BikeApp">
<head>
  <meta charset="UTF-8">
  <title>Citibike Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>  
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="/dist/semantic.min.js"></script>
  <script src="/js/main.js"></script>
  <link rel="icon" type="image/png" href="/images/bike_favicon.png" sizes="24x24">
</head>
<body>

  <% include partials/navbar.ejs %>

  <div class="ui grid stackable page-length">

    <!-- Side Bar -->
    <div class="three wide column ui secondary vertical menu scroll">
      
      <select id="time-dropdown" class="fluid ui scrolling dropdown tiny">
        <option value="current">Current</option>
        <% times.forEach(function(time,index){ %>
          <option value="<%=values[index]%>"><%= time %></option>
        <% }) %>
      </select>       
      
      <button id="play-button" class="fluid ui labeled icon button blue mini">
        <i class="play icon"></i>
        Play
      </button>
      
      <button id="pause-button" class="fluid ui labeled icon button disabled blue mini">
        <i class="pause icon"></i>
        Pause
      </button>
      
      <table class="fluid ui blue table menu-center small">
        <thead>
          <tr>
            <th>Starting Station</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="start-station-name">No Station Selected</td>
          </tr>
          <tr>
            <td id="start-station-bikes">Bikes Available: </td>
          </tr>
        </tbody>
      </table>

      <table class="fluid ui blue table menu-center small">
        <thead>
          <tr>
            <th>Destination</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="end-station-name">No Station Selected</td>
          </tr>
          <tr>
            <td id="end-station-docks">Docks Available: </td>
          </tr>
        </tbody>
      </table>
      
      <table class="fluid ui blue table menu-center small">
        <thead>
          <tr>
            <th>Trip Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="trip-distance">Distance: </td>
          </tr>
          <tr>
            <td id="trip-duration">Duration: </td>
          </tr>
          <tr>
            <td id="recommendation">No Recommendation Yet</td>
          </tr>          
        </tbody>
      </table>      
    </div>

    <!-- Map -->
    <div class="thirteen wide stretched column mobile">
      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap"
        async defer></script>
    </div>
  </div>

  <% include partials/modal.ejs %>

</body>
</html>