.page-length {
  height: 89vh;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
}

.description {
  padding: 1.6em;
}

#help {
  transition: 0.5s all;
}

#time-dropdown {
  margin: 0 9px 5px 9px;
}

#play-button, #pause-button, #right-now , .menu-center{
  margin: 5px 9px;
}

.ui.secondary.vertical.menu {
  /*margin-left: 1rem;*/
  /*padding-right: 2rem;*/
}

.fourteen.wide.stretched.column {
  padding-right: 0;
}

.start-station, .end-station {
  background: none;
}

.blue-text {
  color: #3B83C0;
}

@media (max-width:768px) {
  .mobile {
    height: 620px;
  }

  .scroll {
    overflow: none;
    overflow-y: none;
  }

  #time-dropdown {
    margin: 0 9px 5px 0px;
  }

  #play-button, #pause-button, #right-now , .menu-center{
    margin: 5px 0px;
  }
}